body, html {
  background-color: #FFBD00;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#open-button {
  background-color: #FF5400;
  box-shadow: 0 0 20px #030027;
  color: white;
  border-radius: 55px;
  border-style: solid;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 70px;
  width: 500px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}


div {
  width: 600px;
  height: 400px;
  border: 1px solid #030027;
  background-color: #9E0059;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 250px;
  display: none;
}

p {
  padding-top: 50px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
}

#close-button {
  background-color: #FF5400;
  box-shadow: 0 0 20px #FFFFFF;
  color: white;
  border-radius: 55px;
  border-style: solid;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 20px;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

a {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  font-size: 20px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #030027;
}

