h1, h2, a, body, div {
    margin: 0;
}

body {
    font-family: "Open Sans";
}

header {
    width: 1880px;
    height: 55px;
    position: relative;
    box-shadow: 0 5px 5px -5px #333;
    margin: 16px 40px 0 40px;
}

.eng-icon {
    position: absolute;
    top: 16px;
    bottom: 16px;
    width: 41px;
    height: 23px;
}

.title {
    position: absolute;
    top: 16px;
    bottom: 16px;
    left: 83px;
    font-size: 16px;
    font-weight: 400;
    height: 23px;
    color: #000000;
}

a {
    text-decoration: none;
    color: black;
}

.logo-icon {
    position: absolute;
    left: 1597px;
    top: 2px;
    bottom: 4px;
    width: 243px;
    height: 55px;
}

.main-wraper {
    position: absolute;
    top: 144px;
    width: 1880px;
    height: 650px;
    padding: 0 40px 40px 40px;
}

.container-1 {
    height: 309px;
    width: 1880px;
    border-bottom: 1px solid #BFBFBF;
    border-top: 1px solid #BFBFBF;
    margin: 0 10px 0 10px;
}

.container-2 {
    height: 310px;
    border-bottom: 1px solid #BFBFBF;
    margin: 0 10px 0 10px;
}

h1 {
    margin-bottom: 15px;
}

.card {
    display: inline-block;
    width: 440px;
    height: 280px;
    border-radius: 15px;
    margin: 15px 10px 15px 10px;
}

.facebook {
    background-image: url("../images/facebook-light.png");
}

.facebook:hover {
    background-image: url("../images/facebook-black.png");
    transform: rotateX(360deg);
    transition: ease-in-out 0.5s;
}

/*      ТУТ ТРОХИ ГІРША ЯКІСТЬ, БО КАРТИНКУ МЕНІ КИДАВ МІША))ТАМ В МАКЕТІ ПРОБЛЕМА З ШАРАМИ*/
.instagram {
    background-image: url("../images/instagram-light.png");
}

.instagram:hover {
    background-image: url("../images/instagram-black.png");
    transform: rotateX(360deg);
    transition: ease-in-out 0.5s;
}

.shopify {
    background-image: url("../images/shopify-light.png");
}

.shopify:hover {
    background-image: url("../images/shopify-black.png");
    transform: rotateX(360deg);
    transition: ease-in-out 0.5s;
}

.skype {
    background-image: url("../images/skype-light.png");
}

.skype:hover {
    background-image: url("../images/skype-black.png");
    transform: rotateX(360deg);
    transition: ease-in-out 0.5s;
}

.pinterest {
    background-image: url("../images/pinterest-light.png");
}

.pinterest:hover {
    background-image: url("../images/pinterest-black.png");
    transform: rotateX(360deg);
    transition: ease-in-out 0.5s;
}

.wix {
    background-image: url("../images/wix-light.png");
}

.wix:hover {
    background-image: url("../images/wix-black.png");
    transform: rotateX(360deg);
    transition: ease-in-out 0.5s;
}

.salesforce {
    background-image: url("../images/salesforce-light.png");
}

.salesforce:hover {
    background-image: url("../images/salesforce-black.png");
    transform: rotateX(360deg);
    transition: ease-in-out 0.5s;
}

.soundcloud {
    background-image: url("../images/soundcloud-light.png");
}

.soundcloud:hover {
    background-image: url("../images/soundcloud-black.png");
    transform: rotateX(360deg);
    transition: ease-in-out 0.5s;
}
