* {
    box-sizing: border-box;
}

html {
    background-color: #16133D;
}

body {
    background-color: #ffffff;
}

body, header, main, h1, h2, p, footer {
    margin: 0;
}


/* HEADER */

header {
    padding: 38px 126px 0 156px;
    margin: 0 auto;
    max-width: 1440px;
    /*height: 80px;*/
    /*border-bottom: 1px solid #EFEEF3;*/
}

.header-container {
    height: 80px;
    border-bottom: 1px solid #EFEEF3;
}

.logo-container {
    width: 200px;
    height: 35px;
}

.freehand-icon {
    padding-left: 14px;
}

/* MAIN */
.loudspeaker-icon:hover .loudspeaker-icon-border {
    fill: gray;
    opacity: 20%;
}

.ecommerce-icon:hover .ecommerce-icon-border {
    fill: gray;
    opacity: 20%;
}

.application-icon:hover .application-icon-border {
    fill: gray;
    opacity: 20%;
}

main {
    padding: 55px 126px 69px 156px;
    margin: 0 auto;
    max-width: 1440px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #16133D;
}

.main-content-container {
    width: 1158px;
    height: 472px;
}

.gray-paragraph {
    color: #7690A8;
}

.main-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    line-height: 52px;
}


p {
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    color: #070707;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    justify-content: space-around;
    box-sizing: border-box;
    width: 360px;
    height: 347px;
    border-radius: 8px;
    padding: 41px 45px 45px 41px;
    border: 1px solid #E5EAF4;
}


.box:hover {
    border: 1px solid #3DB370;
}


.box-big-icon {
    /*box-sizing: border-box;*/
    padding: 12px 0;
    width: 64px;
    height: 64px;
    border: 1px solid #E5EAF4;
    border-radius: 16px;
    text-align: center;
}

.box-content {
    width: 275px;
    height: 260px;
}

/* FOOTER */

footer {
    height: 194px;
    background-color: #16133D;
    /*z-index: 0;*/
}

.footer-container {
    padding: 36px 126px 45px 156px;
    margin: 0 auto;
    max-width: 1440px;
}

.footer-content-container {
    height: 113px;
    width: 222px;
}

.socialmedia-card {
    width: 38px;
    height: 38px;
    background-color: #EFEEF3;
    border-radius: 5px;
    padding: 9px;
    text-align: center;
}

/*.fb-svg {*/
/*    text-align: center;*/
/*    width: 10px;*/
/*    height: 19px;*/
/*}*/


.socialmedia-icon {
    fill: #0D0D0D;
}

.insta-svg {
    width: 21px;
    height: 21px;
}

/* .insta-card:hover .insta-svg {
    fill: #3DB370;
} */


.fb-svg {
    width: 10px;
    height: 19px;
}

/* .fb-card:hover .fb-svg {
    fill: #3DB370;
} */


.github-svg {
    width: 20px;
    height: 20px;
}

/* .github-card:hover .github-svg {
    fill: #3DB370;
} */

.dribble-svg {
    width: 20px;
    height: 20px;
}

/* .dribble-card:hover .dribble-svg {
    fill: #3DB370;
} */

.twitter-svg {
    width: 20px;
    height: 20px;
    padding-top: 2px;
}

/* .twitter-card:hover .twitter-svg {
    fill: #3DB370;
} */

.socialmedia-card:hover .socialmedia-icon {
    fill: #3DB370;
}